/* here defining the predefined design that i have in my mind */

body {
  background-color: rgb(0, 0, 0);
  color: white;
}

h1,
h2 {
  text-align: center;
}

h2 {
  size: 20px;
  background-color: rgba(243, 243, 243, 0.1);
}

.subsubheading {
  text-align: center;
  font-style: inherit;
}
/* Dr. Norman's cover image (to centre it)*/
#image {
  width: 700px;
  box-shadow: 0 10px 20px rgb(0, 0, 0), 0 6px 6px rgb(0, 0, 0);
  align-content: center;
}

.Quote {
  font-family: Monospace;
  color: rgb(209, 255, 205);
  padding: 40px;
  font-style: italic;
}
